.chat {
  width: calc(100vw - 5vw);
  display: flex;
}
.chat-profile {
  width: 25%;
  height: 100%;
  display: block;
  text-align: center;
  justify-content: center;
  background: #26c1af;
}
.chat-content {
  width: 75%;
  height: 100%;
  display: block;
  text-align: center;
  justify-content: center;
  position: relative;
}
.button-chat {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(121, 217, 252, 0.54) 0%,
      rgba(121, 217, 252, 0) 100%
    ),
    #7ff0cb;
  border-radius: 1px;
  font-size: 1.25rem;
  cursor: pointer;
}
.button-chat:hover {
  background-color: #e5e5e5;
}
.contact-avatar-chat {
  width: 50%;
  margin: 0 auto;
  padding-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-h1 {
  font-size: 1.875rem;
  font-weight: bold;
  color: Black;
  margin: 0.625rem 0 0.625rem 0;
}
.chat-span {
  font-style: italic;
}
.button-group {
  padding-top: 1.25rem;
}
.mess-content {
  width: fit-content;
  block-size: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(165, 157, 157);
  border-radius: 10px;
  margin: 0.625rem 0 0.625rem 6.25rem;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}
.chat-content__message {
  width: 100%;
  height: 87%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat-content__input {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.chat-content__input {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-content__input .send {
  position: absolute;
  left: 8.5%;
  padding: 0.3125rem 0 0 0.625rem;
  font-size: 1.125rem;
}

.chat-content__input input {
  width: 80%;
  height: 2.8125rem;
  padding-left: 3.125rem;
  font-size: 1.5625rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%);
}
.chat-content__input input:focus {
  border: none;
  outline: none;
}
.chat-content__input input::placeholder {
  font-style: italic;
  font-size: 1.125rem;
  color: rgb(67, 67, 67);
}
.chat-content__input .image {
  position: absolute;
  right: 17%;
  padding: 0.3125rem 0 0 0.625rem;
  font-size: 1.375rem;
}
.chat-content__input .like {
  position: absolute;
  right: 10%;
  padding: 0.3125rem 0 0 0.625rem;
  font-size: 1.375rem;
}
.chat-content__input .file {
  position: absolute;
  right: 13.5%;
  padding: 0.3125rem 0 0 0.625rem;
  font-size: 1.375rem;
}
.chat-content__input i:hover {
  color: #26c1af;
}
