@font-face {
  font-family: "Dancing Script";
  src: url("../../font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
.contact-body {
  display: block;
  width: calc(100vw - 5vw);
  height: 92vh;
}
.contact-content {
  display: flex;
  height: 20vh;
  justify-content: space-between;
}
.contact-regular {
  width: 70vw;
  padding-left: 3.125rem;
}
.contact-regular h1 {
  font-family: "Dancing Script";
}
.contact-avatar {
  margin-left: 1.875rem;
  display: flex;
}
.contact-avatar {
  /* Rounded border */
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.avatar__image {
  /* Rounded border */
  border-radius: 50%;

  /* Take full size */
  height: 100%;
  width: 100%;
  padding-right: 0.9375rem;
}
.search {
  margin: 0.625rem 5% 0.625rem 0.625rem;
  float: right;
  width: 30%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-content i {
  position: absolute;
  padding: 0.45rem 0 0 0.625rem;
  font-size: 1.125rem;
}

.search-content input {
  padding-left: 2.5rem;
  font-size: 1.5625rem;
  border-radius: 0.3125rem;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  background-color: rgba(217, 217, 217, 1);
}
.search-content input:focus {
    border: none;
    outline: none;
}
.search-content input::placeholder {
  font-style: italic;
  font-size: 1.125rem;
  color: rgb(67, 67, 67);
}
.contact-message {
  height: calc(92vh - 23vh);
  padding-left: 2rem;
  padding-top: 1.25rem;
  padding-right: 1.25rem; 
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.message-content {
  margin-top: 1.25rem;
  position: relative;
  width: 90vw;
  height: 6.25rem;
  background: linear-gradient(
      180deg,
      rgba(121, 217, 252, 0.54) 0%,
      rgba(121, 217, 252, 0) 100%
    ),
    #7ff0cb;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  display: flex;
  cursor: pointer;
}
.message-content .kimochi {
  position: absolute;
  left: 0.625rem;
  top: 1.25rem;
  text-align: center;
  color: black;
  font-weight: bold;
  /* margin: 20px 25px 50px -500px; */
}
.message-content .message-text {
  position: absolute;
  left: 7em;
  text-align: left;
  font-size: 1.25em;
  color: black;
  font-weight: bold;
}
.message-content h1 {
  margin-top: 0.5em;
  grid-column: 2;
  grid-row: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
  color: black;
}
.message-content p {
  grid-column: 2;
  grid-row: 2;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.8em;
  color: black;
  margin-top: -0.9375em;
}
.message-content h3 {
  font-style: italic;
  font-size: 0.9375em;
  color: gray;
  font-weight: none;
  position: absolute;
  right: 0.9375em;
}
.contact-message::-webkit-scrollbar {
  width: 0.5rem;
}
.contact-message::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.contact-message::-webkit-scrollbar-thumb {
  background: rgba(35, 194, 119, 0.577);
}
.contact-message::-webkit-scrollbar-thumb:hover {
  background: rgb(16, 160, 179);
}