.navigation {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  
    background: #000202;
  }
  .navigation h1 {
    position: relative;
    width: 378px;
    height: 39px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
  
    color: #ffffff;
  }
  .navigation .login {
    float: right;
  }
  .navigation .login i {
    width: 40px;
    font-size: 25px;
    color: #ffffff;
  }