@font-face {
    font-family: "Dancing Script";
    src: url("../../font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
  }
.people {
    width: 100%;
}
.search-people {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.125rem;
}
.search-people i {
    position: absolute;
    left: 32%;
    padding: 0.4375rem 0 0 0.625rem;
    font-size: 1.125rem;
  }
  
  .search-people input {
    width: 40%;
    height: 2.8125rem;
    padding-left: 3.125rem;
    font-size: 1.5625rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border: none;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);

  }
  .search-people input:focus {
      border: none;
      outline: none;
  }
  .search-people input::placeholder {
    font-style: italic;
    font-size: 1.125rem;
    color: rgb(67, 67, 67);
  }
.main-content {
    width: 100%;
    height: 80%;
    display: flex;
}
.total-friends {
    margin-left: 9.375rem;
}
.total-friends h1 {
    font-family: "Dancing Script";
}
.friends {
    width: 31.25rem;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(2, 13.75rem);
    grid-template-rows: repeat(6, 6.25rem);
    border-radius: 0.9375rem;
    background: #26c1af;
}
.friend-info {
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    display: flex;
    width: 13.75rem;
    height: 5rem;
}
.friend-info:hover
{
    opacity: 0.7;
    transition: 0.5s;
    transform: scale(1.1);
}
.friend-info span {
    font-weight: bold;
    padding-left: 0.625rem;
    padding-top: 1.25rem;
}
.friend-request {
    margin-left: 6.25rem;
}
.friend-request h1{
    font-family: "Dancing Script";
}
.total-request {
    border-radius:0.9375rem;
    display: grid;
    width: 31.25rem;
    position: relative;
    background: #26c1af;
}
.group-button {
    display: flex;
    position: absolute;
    right: 1.25rem;
    margin-top: 0.625rem;
}
.button {
    align-items: center;
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.3125rem;
    background-color: white; 
}
.request-info {
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    display: flex;
    width: 31.25rem;
    height: 5rem;
}
.request-info span {
    font-weight: bold;
    padding-left: 0.625rem;
    padding-top: 1.25rem;
}
.v:hover {
    background-color: #2FE620;
}
.x:hover {
    background-color: rgb(194, 34, 34);
}
.link-friend, .link-request {
    text-decoration: none;
    color: black;
}
.friends
{
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.friends::-webkit-scrollbar {
    width: 0.5rem;
    
}
.friends::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.friends::-webkit-scrollbar-thumb {
    background: rgba(35, 194, 119, 0.577);
}
.friends::-webkit-scrollbar-thumb:hover {
    background: rgb(16, 160, 179);
}