@font-face {
    font-family: "Dancing Script";
    src: url("../../font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
  }
.setting {
  margin-left: 9.375rem;
  margin-top: 1.5625rem;
}

h1 {
    font-family: "Dancing Script";
}
.setting-chosen {
  /* background: white; */
  width: 50vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2,18.75rem);
  grid-template-rows: repeat(3,3.125rem);
  grid-gap: 1.25rem;
}
.setting-content {
  display: flex;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(121, 217, 252, 0.54) 0%,
      rgba(121, 217, 252, 0) 100%
    ),
    #7ff0cb;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  width: 18.75rem;
  height: 3.125rem;
  position: relative;
}
.setting-content span{
    position: absolute;
    left: 1.875rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.setting-label {
    position:absolute;
    right: 0.625rem;
}
.label {
  display: flex;

  /* Rounded border */
  border-radius: 9999px;

  /* Size */
  height: 1.5rem;
  width: 3rem;
}
.label__input {
  /* Hide the input */
  display: none;
}

.label__circle {
  /* Rounded border */
  border-radius: 9999px;

  /* Size */
  width: 1.5rem;

  background-color: #fff;

  /* OFF status */
  border: 1px solid rgba(0, 0, 0, 0.3);
}
